<launch>
	<!-- <node name="roscore" pkg="launch_pkg" type="roscorerun.sh" output="screen" launch-prefix="xterm -e" required="true"/> -->
	<!-- <node name="ros1bridge" pkg="launch_pkg" type="ros1_bridge_run.sh" output="screen" launch-prefix="xterm -e" required="true"/> -->
	
	<!-- For PID tuning -->
	<!-- <node name="arduino_vals" pkg="launch_pkg" type="arduino_serial.sh" output="screen" launch-prefix="xterm -e" required="true"/> -->
	<!-- <node name="plotter" pkg="launch_pkg" type="plot_arduino.sh" output="screen" launch-prefix="xterm -e" respawn="true"/>	 -->
	
	<!-- The rest of the programs -->
	<node name="auto_selected_cam" pkg="automatecamspkg" type="automatecams.py" output="screen" required="true">
		<param name="cam_select" value="$(arg cam_select)" /> 
		</node>
	<!-- <node name="franka" pkg="launch_pkg" type="franka_motion.sh" output="screen" launch-prefix="xterm -e" required="true"/>	 -->
</launch>
